
body, html { 
	height: 100%;
	width: 100%;
	padding: 0px; 
	margin: 0px;
	border: 0px;
	font-size: 100%; 	
	font-family: Verdana, arial, helvetica, sans-serif;
	font-style: normal;
	line-height: 1.4;
	font-size: 12px;
}

img {
    display: none;
}

div.clear {
	clear: both;
}

div#container{
	text-align: center;
}

div#header {
	position: fixed;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #eee;
	top: 0px;
	z-index: 99;
	min-width: 275px;
	background: #fff;
}

div#header_content {
display: none;
    /* margin-right: auto; */
}

div#header ol {
	display: -moz-inline-box;
	display: inline;
	padding: 0px;
	margin: 0px;
}

div#header li.header_link {
	display: inline-block;
	text-align: left;
	padding: 6px 10px 6px 10px;
	cursor: pointer;
	font-weight: bold;
	color: #3b5999;
}

div#header li.header_link a {
	text-decoration: none;
	border: none;
	color: #3b5999;
}

div#header li.header_link a:visited {
	color: #3b5999;
}

div#header_right {
	float: right;
}

div#header li.menu_login {
	padding-right: 20px;
	padding-left: 20px;
	background: #3b5999;
	color: #fff;
}

div#register_float {
	position: fixed;
	right: 10px;
	width: 230px;
	height: 245px;
	border: 1px solid #3b5999;
	background: #fff;
	margin-top: 12px;
	padding: 10px;
	color: #3b5999;
	text-align: center;
	display: none;
	padding-top: 15px;
}

img#register_float_arrow {
	position: absolute;
	right: 95px;
	top: -12px;
}

div#login_float {
	position: fixed;
	right: 10px;
	width: 230px;
	height: 135px;
	border: 1px solid #3b5999;
	background: #fff;
	margin-top: 12px;
	padding: 10px;
	display: none;
}

img#login_float_arrow {
	position: absolute;
	right: 20px;
	top: -12px;
}

div#new_user_link {
	font-weight: bold;
	cursor: pointer;
	color: #3b5999;
}

#header input[type=text], #header input[type=password]{
	width: 215px;
	padding: 3px 5px 3px 5px;
	margin-bottom: 10px;
}

#header input[type=submit] {
	background: #3b5999;
	color: #fff;
	border: 0 none;
	padding: 5px 10px 5px 10px;
	float: right;
}

div.float a {
	text-decoration: none;
	color: #3b5999;
}

/*------ SURFBAR --------*/

img#kproxy_logo {
    display: none;
}

div#surfbar {
	text-align: center;
	margin-bottom: 40px;
}

div#https_button {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

form#surfbar {
	display: inline-block;
}

form#surfbar .input {
display: none;
}

form#surfbar .boton{
	display: inline-block;
}

div#change_server_button {
	position: relative;
	width: 100%;
	color: #3b5999;
	cursor: pointer;
	margin-top: 2px;
}

div#change_server_button .drop_up {
	display: none;
}

div#change_server_button .center_button {
display: none;
}

div#change_server_container {
	display: none;
}

div#change_server_container .section_title {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #3b5999;
}

div#servers_img {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

div#servers_description {
	position: relative;
	display: inline-block;
	max-width: 300px;
	text-align: left;
	margin-left: 20px;
}

div#servers_list {
	margin-top: 30px;
}

div.servers_block {
	display: inline-block;
	margin: 0px 20px 0px 20px;
	vertical-align: top;
}

div.servers_block a{
	text-decoration: none;	
} 

div.server {
	color: #3b5999;
	text-align: left;
	margin-bottom: 12px;
	font-weight: bold;
	text-decoration: none;
}

div.server_txt {
	display: inline-block;
	max-width: 300px;
	cursor: pointer;
	text-decoration: none;
}

div.pro_server {
	color: #F9B503;
}


div#surfbar_bottom_left {
	position: relative;
	float: left;
	width: 50%;
	text-align: right;
	padding-top: 60px;
	height: 260px;
	vertical-align: bottom;
}

img#triangle_top {
	position: absolute;
	width: 100%;
	vertical-align: bottom;
	bottom: 0;
	left: 0;
}

img#jumper {
	position: relative;
	bottom: 7px;
	right: 30px;
}

div#surfbar_bottom_right {
	position: relative;
	float: left;
	width: 48%;
	text-align: left;
	padding-left: 2%;
	font-family: 'FontBold', arial, helvetica, sans-serif;
	color: #3b5999;
}

div#surfbar_bottom_right a {
	text-decoration: none;
	color: inherit;
}

div#surfbar_bottom_right .title {
    display: none;
}

div#surfbar_bottom_right .title img{
	position: absolute;	
	top: 0;
	right: 20px;
	height: 30px;
}

div#surfbar_bottom_right .advantages {
    display: none;
}

div#surfbar_bottom_right .advantages img{
	margin: 10px 10px 0px 20px;
}

div#surfbar_bottom_upgrade {
	margin-top: 30px;
}

span.black {
	color: #000;
}

/*------ WELCOME --------*/

div#welcome {
	background: #3b5999;
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	padding-top: 30px;
}

div#welcome_text {
    display: none;
}

span.title {
	color:#F9B503;
	font-size: 18px;
}

span.anchor {
	display: block;
  height: 28px; /*same height as header*/
  margin-top: -28px; /*same height as header*/
  visibility: hidden;
}

span.bold {
	font-weight: bold;
}

div.centered_icons_container {
	text-align: center;
  margin: 10px auto;
	position: relative;
	padding-bottom: 170px;
}

div.centered_icon {
	position: relative;
	font-family: 'FontRegular', arial, helvetica, sans-serif;
	font-size: 18px;
	display:inline-block;
  	width: 230px;
  	height: 300px;
  	padding: 20px 20px 0px 20px;
  	line-height: 1.2;
  	font-weight: bold;
  	text-align: center;
}

div.centered_icon_img {
	position: relative;
	padding-bottom: 10px;
}

div.centered_icon_img img {
	height: 100%;
}

div.centered_icon .title {
display: none;
}

div.centered_icon_text {
display: none;
}
	
div#triangle_bottom img {
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*------ KPROXY CHROME EXTENSION --------*/

div.section_title {
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 32px;
}

div.section {
	text-align: center;
	margin: 0 auto;
}

div#extension_section {
	position: relative;
	color:#3b5999;
	text-align: center;
	margin: 10px auto;
	padding-bottom: 30px;
	width: 100%;
	max-width: 1000px;
}

div#extension_section .section_title {
	display: inline-block;
}

img#extension_icon {
	position: relative;
	margin-left: 10px;
	top: 10px;
}

div#extension_button {
	display: inline-block;
	position: relative;
	margin: 20px 20px 0 20px;
}

div#extension_button img {
	cursor: pointer;
}

div.extension_properties {
	position: relative;
	text-align: left;
	margin-top: 20px;
	width: 410px;
	height: 110px;
	margin-left: 20px;
	float: left;
}

div.extension_properties span.title {
	line-height: 1.2;
	margin-bottom: 20px;
}

div.extension_properties br {
	line-height: 2;
}

div.extension_properties_img {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 15px;
	text-align: center;
	width: 80px;
	margin: 0 auto;
}

a.download_kb {
	color:#3b5999;
}

div#extension_section .centered_icons_container {
	margin-top: 30px;
	padding-bottom: 0px;
}

div#extension_section .centered_icons_container  div.centered_icon {
	width: 252px;
	height: 110px;
}


div.extension_properties .description {
	display: inline-block;
	width: 300px;
	margin-left: 20px;
}
 

div#extension_section .centered_icon {
	height: 80px;
}

div#extension_section .centered_icon img {
	cursor: pointer;
}

div#extension_section .centered_icon .title {
	position: relative;
	margin-bottom: 7px;
}

div#extension_list {
	max-width: 900px; 
	margin: auto;
}

/*------ KPROXY PRO --------*/

div#pro_section {
	display: inline-block;
	background: #F9B503;
	color: #fff;
	padding-top: 30px;
	width: 100%;
	margin: 0 auto;
}

div#pro_section .section_title img {
	position: relative;
	vertical-align: middle;
	top: -4px;
}

span.font_bold {
	font-family: 'FontBold', arial, helvetica, sans-serif;
}

div.pro_bullets {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 0 20px;
}

div.bullets_block {
	display: inline-block;
	margin: 0;
	width: 340px;
	text-align: left; 
}

div.bullet {
	color: #000;
	text-align: left;
	margin-bottom: 10px;	
}

div.bullet_img {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -2px;
	margin-right: 3px;
	
}

div.bullet_txt {
	display: inline-block;
	max-width: 300px;
}

div#pro_section .centered_icons_container {
	padding-bottom: 0px;
}

div#pro_section .centered_icon {
	padding: 20px 10px 0px 10px;
	height: 260px;
}

div#pro_section .centered_icon .title {
	height: 40px;
	background: #3b5999;
	padding-top: 15px;
}

div#pro_section .centered_icon .title img {
	position: absolute;
	right: -15px;
	top: -25px;
}

div#pro_section .centered_icon .centered_icon_img {
	position: absolute;
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 32px;
	background: #fff;
	height: 180px;
	color: #000;
	top: 62px;
	width: 230px;
	text-align: center;
	line-height: 1;
}

div#pro_section .centered_icon .centered_icon_img img, .submit {
	display: block;
	height: auto;
	position: absolute;
	bottom: 20px;
	left: 25px;
	cursor: pointer;
}

div#footer_top_img {
	width: 100%;
}

div#footer_top_img img {
	width: 100%;
	display: block;
}

div#footer {
	background: #333;
	padding-bottom: 200px;
	text-align: left;
}

div#footer_left {
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
}

div#footer_left img {
	position: relative;
	top: -50px;
	max-width: 100%;
	left: 0;
}

div#footer_right {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-top: 60px;
	color: #fff;
	width: 50%;
}

div#footer_right li.footer_link {
	display: inline-block;
	text-align: center;
	margin: 10px;
}

div#footer_right ol {
	padding: 0;
}

div#footer_right li.footer_link a {
	text-decoration: none;
	color: #fff;
	border: none;
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 24px;
}

.blue {
	color: #3b5999;
}


/* ------ ACCOUNT ------- */

div#account {
	text-align: center;
}

div#account .section_title {
	color: #3b5999;
	font-size: 30px;
	line-height: 1;
}

div#account .pro_bullets {
	display: none;
}

span.account_bullets_dropdown {
	cursor: pointer;
	color: #F9B503;
	text-decoration: none;
	font-weight: bold;
}

div.paragraph_text {
	max-width: 740px;
	margin: 0 auto;
	text-align: left;
	padding: 0px 10px 0px 10px;
}

span.pro {
	color: #CC9933;
}

div#account_data {
	margin-top: 40px;
	margin-bottom: 10px;
}

div#account_icon {
	display: inline-block;
}

div#account_name {
	position: relative;
	display: inline-block;
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 24px;
	text-align: left;
	vertical-align: top;
	margin-left: 10px;
	line-height: 1;
	top: 10px;
}

div#account_name a {
	text-decoration: none;
	color: #666;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

div#account_name a:hover {
	text-decoration: underline;
	color: #666;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

div#pro_credits {
	font-weight: bold;
	margin-bottom: 40px;
	color: #3b5999;
}

span.credits_number {
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 32px;
	color: #F9B503;
	font-weight: normal;
	padding-left: 10px; 
}

span.credits_text {
	color: #000;
}

div#private_servers {
	margin-bottom: 40px;
}

div#account .centered_icons_container {
	padding-bottom: 30px;
	color:#fff;
}

div#account .centered_icon {
	padding: 20px 10px 0px 10px;
	height: 260px;
}

div#account .centered_icon .title {
	height: 40px;
	background: #3b5999;
	padding-top: 15px;
}

div#account .centered_icon .title img {
	position: absolute;
	right: -15px;
	top: -25px;
}

div#account .centered_icon .centered_icon_img {
	position: absolute;
	font-family: 'FontLight', arial, helvetica, sans-serif;
	font-size: 32px;
	background: #F9B503;
	height: 180px;
	color: #000;
	top: 62px;
	width: 230px;
	text-align: center;
	line-height: 1;
}

div#account .centered_icon .centered_icon_img img {
	display: block;
	height: auto;
	position: absolute;
	bottom: 20px;
	left: 25px;
	cursor: pointer;
}

.no_chrome_browser{
	display: none;
}

#kproxy_browser_button{
	cursor: pointer;
}

#kproxy_browser_button img {
	width: auto;
	}
	
.placeholder { color: #aaa; }

#center {
	width: 90%;
	max-width: 680px;
	text-align: center;
	margin: 0 auto;
	
}

.submit_button
{
	width: 100px;
	background: #3B5999;
	border: 0px;
	height: 30px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.linknew {
	color: #3b5999;
}

.error
{
	font-weight: bold;
	color: #AA0000;
}

.error2
{
	font-weight: bold;
	color: #AA0000;
	font-size: 14px;
}

p.upgrade_list {
	color: #3b5999;
	font-size: 12px;
	font-weight: bold;
	line-height: 0.5;
}

img.star {
	vertical-align:-25%;
}

#product_img {
	float:left;
	width: 250px;
	margin-left: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
}

#product_select {
	clear:both;
	display:inline;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

#agent_explica {
	text-align:left;
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0 10px 0 10px;
}

#upgrade_welcome {
	float:left;
	text-align:left;
	width: 370px;
	padding-left:-100px;
}

p.titulo {
	font-weight: bold;
	font-size: 14px;
}

img.boton {
	position: relative;
	display:inline-block;
}

div.no_chrome_browser {
	display: none;
}


/* ------ RESPONSIVE ------- */

@media all and (max-width: 900px) {
	div.extension_properties {
		margin-left: auto;
		margin-right: auto;
		float: none;
		height: auto;
	}
}

@media all and (max-width: 800px) {
	img#jumper {
		display: none;
	}
	
	div#surfbar_bottom_right {
		width: 380px;
		position: absolute;
		left: 50%;
		margin-left: -200px;
	}
	
	div.centered_icons_container {
		padding-bottom: 80px;
	}
}

@media all and (max-width: 720px) {
	div#pro_section .section_title img {
		width: 30%;
	}
	
	div#footer_left {
		display: none;
	}
	
	div#footer_right {
		width: 100%;
	}
}

@media all and (max-width: 600px) {
	form#surfbar .input {
		width: 340px;
	}
	
	div#pro_section .section_title img {
		width: auto;
		display: block;
		margin: 5px auto;
	}
	
	div#footer_top_img {
		display: none;
	}
	
}

@media all and (max-width: 565px) {
	span.anchor {
	  	height: 57px; /*same height as header*/
  		margin-top: -57px; /*same height as header*/
	}
}

@media all and (max-width: 530px) {
	
	form#surfbar .input {
		width: 280px;
	}
	
	img#extension_icon {
		display: none;
	}
}

@media all and (max-width: 520px) {
	
	img#kproxy_logo {
		margin-top: 90px;
		height: 50px;
	}
	
	div#extension_button {
		display: inline-block;
		position: relative;
		margin: 20px 0 0 0;
	}
}

@media all and (max-width:460px) {
	form#surfbar .input {
		width: 220px;
	}
	
	div.extension_properties {
		width: 340px;
	}
	div.extension_properties .description {
		width: 230px;
	}
	
}

@media all and (max-width:400px) {
	form#surfbar .input {
		width: 160px;
	}
	
	div#surfbar {
		margin-bottom: 10px;
	}
	
	div#change_server_button {
		width: 95%;
	}
	
	div#surfbar_bottom_left {
		height: 280px;
		width: 100%;
	}
	
	div#surfbar_bottom_right {
		text-align: center;
	}
		
	div#surfbar_bottom_right .advantages {
		display: none;
	}
	
	div#surfbar_bottom_right {
		width: 100%;
		position: absolute;
		margin: 10px auto;
		left: 0;
		padding: 0;
	}
	
	div#triangle_bottom img {
		width: 100%;
	}
	
	div#surfbar_bottom_right .button{
		margin-top: 20px;
	}
	
	div#surfbar_bottom_upgrade {
		margin-top: 10px;
	}
	div.extension_properties {
		width: 100%;
		margin: 10px 0 10px 0;
	}
	
	div.extension_properties_img img {
		padding-top: 0;
	}
	
	div.extension_properties_img img {
		max-width: 50px;
		max-height: 65px; 
	}
	
	div.extension_properties .description {
		width: 200px;
		margin-left: 5px;
	}
	
	div.bullets_block {
		width: 100%;
	}
	
	div.bullet_txt {
		max-width: 240px;
	}
	
}

@media all and (max-width:340px) {
	form#surfbar .input {
		width: 120px;
	}
}

@media all and (max-width:330px) {
	img#kproxy_logo {
		margin-top: 120px;
	}
}

@media all and (max-width: 321px) {

	span.anchor {
	  	height: 85px; /*same height as header*/
  		margin-top: -85px; /*same height as header*/
	}
}
