
div#kproxy_float_navigation {
display: none;
	
}


div#kproxy_float_surfbar {
display: none;
}

img#kproxy_logo_img {
display: none;
}

img#kproxy_logo_min_img {
display: none;
}


div#kproxy_float_navigation input#kproxy_float_surfbar_input {
	display: none
}

div#kproxy_float_navigation input#kproxy_float_surfbar_submit {
display: none;
}

div#kproxy_float_extension_ad {
display: none;
}

div#kproxy_float_extension_ad_bullets {
	display: none;
}

div#kproxy_float_extension_ad_bullets img {
	display: none;
}

div#kproxy_float_extension_ad_bullets .ad_bullets_column {
	display: none;
	position: relative !important;
	text-align: left !important;
}

div#kproxy_float_navigation div#kproxy_float_hide_button {
display: none;
}

img#kproxy_float_hide_button_img {
display: none;
}

img#kproxy_float_extension_ad_store_button_img {
display: none;
}

div#kproxy_float_extension_show_button {
display: none;
}

div#kproxy_float_extension_show_button img {
display: none;
}

div#kproxy_float_hide_button a > img, div#kproxy_float_extension_ad a > img, display: none;
}

@media all and (max-width:1240px) {
	div#kproxy_float_navigation input#kproxy_float_surfbar_input {
		display: none;
	}
}

@media all and (max-width:1125px) {
	div#kproxy_float_extension_ad_bullets  {
		display:none;
	}
}

@media all and (max-width:800px) {
	img#kproxy_logo_min_img {
		display: none;
	}
	
	img#kproxy_logo_img {
		display: none !important;
	}
	
	div#kproxy_float_surfbar {
		left: 40px !important;
	}
	
	div#kproxy_float_navigation form#surfbar {
		margin-left: 5px !important;
	}
}

@media all and (max-width:700px) { 
	div#kproxy_float_extension_ad {
		display: none !important;
	}
}

@media all and (max-width:510px) { 
	img#kproxy_logo_min_img {
		display: none !important;
	}
	
	div#kproxy_float_surfbar {
		left: 25px !important;
	}
}

@media all and (max-width:455px) { 
	div#kproxy_float_navigation input#kproxy_float_surfbar_input  {
		width: 200px !important;
	}
}

@media all and (max-width:360px) { 
	div#kproxy_float_navigation input#kproxy_float_surfbar_input  {
		width: 140px !important;
	}
}
